@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}
:root{
	--main-color: #f24f04;
	--text-color: #252429;
	--bg-color: #fbfdff;
	--rr-color: #ffa50a;
	--other-color: #95949a;
	--bb-color: #000000;

	--big-font: 4.4rem;
	--h2-font: 3rem;
	--p-font: 1rem;
}
body{
  height: 100vh;
  width: 100%;
  background: var(--bg-color);
	color: var(--text-color);
}

.show-btn, .container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input[type="checkbox"]{
  display: none;
}
.container{
  background: #fff;
  width: 460px;
  padding: 30px;
  box-shadow: 0 0 15px rgba(8, 8, 8, 0.045);
  border: 10px #131516;
}
#show:checked ~ .container{
  display: block;
}


.container .text{
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}


.container form{
  margin-top: -20px;
}
.container form .data{
  height: 45px;
  width: 80%;
  margin: 40px 0;
  margin-left: auto;
  margin-right: auto;

}
form .data label{
  font-size: 18px;
}
form .data input{
  height: 100%;
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid silver;
}
form .data input:focus{
  border-color: #94c9ec;
  border-bottom-width: 2px;
}
form .btn{
  margin: 30px 0;
  height: 45px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
}
form .btn .inner{
  height: 100%;
  width: 200%;
  position: absolute;
  
  z-index: -1;
  background:  #3498db;
  transition: all 0.4s;
}
form .btn:hover .inner{
  left: 20;
  background:  #2b5d7d;
}
form .btn button{
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
form .signup-link{
  text-align: center;
}
form .signup-link a{
  color: #3498db;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}

.flash-messages-container {
  text-align: center;
  margin-bottom: 10px;
}

.alert {
  display: inline-block;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 4px;
}

.alert-danger {
  background-color: #f44336;
  color: white;

.logo-top img{

	width: 160px;
	max-width: 100%;
  margin-left: 40px;
  margin-top: 15px;


.flash-messages-container {
  text-align: center;
  margin-bottom: 10px;
}

.alert {
  display: inline-block;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 4px;
}

.alert-danger {
  background-color: #f44336;
  color: white;


}