<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="csrf-token" content="{{ csrf_token }}">

	<title>Groupie's Pizza</title>

	<!---======css=====-->
	<link rel="stylesheet" type="text/css" href="/static/css/admin.css">

	<!--===box icons link--==-->
	<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!--===google fonts link--==-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>

<!--===header--==-->
<header>

	<a href='/' class="logo">
		<img src="/static/img/logo.png">
	</a>
	
	<div class="greet-user" style="margin-top: -30px;">
        <div>
		    <h4 style="justify-content: left; display: inline-block;" >Welcome</h4> <h4 style="font-weight: 200; display: inline-block;">{{ username }}</h4> 
	    </div>
	</div>

	<div class="header-icons">

		<div>
			<a href="{{ url_for('logout') }}">

				<button style="padding-left: 10px; padding-right: 10px;">Logout</button>

			</a>
		</div>
			  
			
		<!----darkmode-->
		<div class="bx bx-moon" id="darkmode"></div>
	</div>
</header>
	<section>
		<fieldset style="margin-top: 200px;">

			<legend style="background-color: #f24f04;">Add Menu Item Form</legend>

			<form style="margin: 20px;" action="/admin" method="post" name="first_form" enctype="multipart/form-data" onsubmit="validation()">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
				<p style=" padding-top: 5px;"><label for="newName">Item Name:</label><input type="text" name="newName" maxlength="50"  class="input"/></p>
				<p><label for="newPrice">Item Price:</label><input type="number" name="newPrice" min="0" step="0.01" maxlength="10" class="input" /></p>
				<p><label for="newImage">Item Picture:</label><input style="margin-top: -20px;" type="file" name="newImage" class="input"/></p>
				<p style="margin-top: 15px;"><input type="submit" value="Add Item" class="btn btn-primary"  /></p>
			</form>

		</fieldset>
	</section>
	<!--===menu--==-->
	<section class="menu" id="menu"></section>

		<div class="center-text" style="margin-top: 200px;">

			<strong>Our Menu</strong>

			<h2>Pizza at its finest</h2>

		</div>

		<div class="menu-content">

			{% for item in items %} 
				
				<div class="row">    
					<div class="row-img">
						<img src="{{ url_for('image', filename=item['image']) }}" alt="Item image">
					</div>	
					<h5 class="name">{{ item["name"] }}</h5>    
					<h6 class="price">{{ item["price"] }}</h6>  
					<button onclick="" type="button" class="btn btn-primary">Add to Cart</button> 
				</div>  

			{% endfor %}    
		</div>
		
	</section>

    
	<!--===js file link--==-->
	<script src="/static/js/script.js"></script>

</body>
</html>