<header>
	<a href="/" class="logo">
		<img src="/static/img/logo.png">
	</a>
	
	<ul class="navbar">
		<li><a href="/" class="active">Home</a></li>
		<li><a href="about">History of Groupie's Pizza</a></li>
		<li><a href="menu">Menu</a></li>
	</ul>

	<div class="header-icons">
		<div>
			<a href="login"  >
				<button style="padding-left: 10px; padding-right: 10px;">Login</button>
			</a>
		</div>	
		<div>
			<a href="register"  >
				<button style="padding-left: 10px; padding-right: 10px; margin-left: 20px;">Register</button>
			</a>
		</div>	
		<a href="shoppingcart"><i class='bx bxs-cart' ></i></a>
		<div class="bx bx-menu" id="menu-icon"></div>

		<!---darkmode-->
		<div class="bx bx-moon" id="darkmode"></div>
	</div>
</header>
