<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Groupie's Pizza</title>

	<!---======css=====-->
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">

	<!--===box icons link--==-->
	<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

  <!--===google fonts link--==-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>

	<!--===header--==-->
	<header>
		<a href='/' class="logo">
			<img src="/static/img/logo.png">
		</a>
		
		

		<ul class="navbar">
			<li>

				<a href="/">Home</a>
			
			</li>

			<li>
				
				<a href="about">History of Groupie's Pizza</a>
			
			</li>
			
			<li>
				
				<a href="menu">Menu</a>
			
			</li>
		</ul>

		<div class="header-icons">
			<div>
				<a href="login"  >
					<button style="padding-left: 10px; padding-right: 10px;">Login</button>
				</a>
			</div>	
			<div>
				<a href="register"  >
					<button style="padding-left: 10px; padding-right: 10px; margin-left: 20px;">Register</button>
				</a>
			</div>	
			<a href="shoppingcart"><i class='bx bxs-cart' ></i></a>
			<div class="bx bx-menu" id="menu-icon"></div>

			<!----darkmode-->
			<div class="bx bx-moon" id="darkmode"></div>
		</div>
	</header>

	<!--===home--==-->
	<section class="home" id="home" >
		<div class="home-text">
			<h1>Order From <br> Groupie's Pizza</h1>
			<p>Make your own with your favorite toppings or choose a signature Groupie's Pizza of your choice</p>
			<div class="home-btnn">
				<a href="#" class="btn">Order Now</a>
			</div>
		</div>

		<div class="home-img">
			<img src="static/img/hero.png">
		</div>


	</section>

	<section style="margin-top: 95px; margin-bottom: -70px;">
		<div class="center-text" style="width:100%;">
			<img class="center-text" src="static/img/spliter.png" >
		</div>
	</section>

	<!--===history--==-->
	<section class="history" id="history" style="margin-top: 150px;">
	
		<div class="history-img">
			<img src="static/img/history.png">
		</div>

		<div class="history-text">
			<strong>History of Groupie's Pizza</strong>
			<h2>Best Pizza Since 1987</h2>
			<p>We promise our signature pizza sauce and fresh handtossed dough will have you ordering again and again</p>

			<a href="about" class="btn">Learn More</a>
		</div>
	</section>

	<section style="margin-top: 75px;">
		<div class="center-text" style="width:100%;">
			<img class="center-text" src="/static/img/spliter.png" >
		</div>
	</section>

	<!--===menu--==-->
	<section class="menu" id="menu"></section>
	<div class="center-text" style="margin-top: 200px;">
		<strong>Our Menu</strong>
		<h2>Pizza at its finest</h2>
	</div>
	<div class="menu-content">

	{% for item in items %} 
	
			<div class="row">    
				<div class="row-img">
					<img src="static/img/logo.png">
				</div>	
				<h5 class="name">{{ item["name"] }}</h5>    
				<h6 class="price">{{ item["price"] }}</h6>  
				<button onclick="" type="button" class="btn btn-primary">Add to Cart</button> 
			</div>  

	{% endfor %}    
	</div>
	
	<div class="menu-btnn">
		<a href="#" class="btn">More Items</a>
	</div>
	</section>


	<section style="margin-bottom: 75px;">
		<div class="center-text" style="width:100%;">
			<img class="center-text" src="static/img/spliter.png" >
		</div>
	</section>


	
	<!--===contact--==-->
	<section class="contact" id="contact">
		<div class="contact-box" style="margin-top: 15px;">
			<a href="/" class="logo">
				<img src="/static/img/logo.png">
			</a>

			<div class="icons">
				<a href="#"><i class='bx bxl-facebook' ></i></a>
				<a href="#"><i class='bx bxl-instagram-alt' ></i></a>
				<a href="#"><i class='bx bxl-twitter' ></i></a>
				<a href="#"><i class='bx bxl-youtube' ></i></a>
			</div>
		</div>

		<div class="contact-box" style="margin-top: 25px; margin-left: 100px;">
			<p>
				<h2 style="font-weight: 600; font-size: .9em;">Address:</h2>
				123456 Parkway Blvd<br> 
				New York, New York 84635<br>
				<br>
				<h2 style="font-weight: 600; font-size: .9em;">Phone Number:</h2>
				586-256-2415
			</p>

		</div>

	
		<div class="contact-box" style="margin-left: 625px; margin-top: 15px; ">
			<h3>Links</h3>
			<li><a href="/">Home</a></li>
            <li><a href="menu">Menu</a></li>
            <li><a href="about">History of Groupie's Pizza</a></li>
          
		</div>
	</section>
<!--===copyright--==-->
<div class="copyright" style="margin-top: -20px;">
	<p>Copyright Group 4 CS 492 Colorado Technical University 2023</p>
</div>


	<!--===js file link--==-->
	<script src="/static/js/script.js"></script>

</body>
</html>