<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <meta name="csrf-token" content="{{ csrf_token }}">

      <title>Groupie's Pizza Login</title>
      <link rel="stylesheet" href="/static/css/login.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>


      <div class="container">

      <a href='/' class="logo-top" >
         <img src="/static/img/logo.png">
      </a> 
     
      <div class="container">

        


      <div class="container">


        <div class="text">
           Groupie's Pizza <br> Online Ordering Family Login 
        </div>
        <form action="/login" method="POST">

         <div class="data">
             <label>username</label>
             <input for="username" type="text" name="username" required>
         </div>
         <div class="data">
             <label>password</label>
             <input type="password" name="password" required>
         </div>
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
         <div class="flash-messages-container">
         {% with messages = get_flashed_messages(with_categories=true) %}
             {% if messages %}
                 {% for category, message in messages %}
                 <div class="alert alert-{{ category }}">{{ message }}</div>
                 {% endfor %}
             {% endif %}
         {% endwith %}
         </div>
         
         <div class="btn">
             <div class="inner"></div>
             <button type="submit">login</button>
         </div>

           <div class="signup-link">
              Not a member? <a href="register">Signup now</a>
           </div>

         </form>

      </div>

   </body>

</html>