<!DOCTYPE html>

<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Groupie's Pizza Login</title>
      <link rel="stylesheet" href="/static/css/login.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
     
      <div class="container">
        <label for="show" class="close-btn fas fa-times" title="close"></label>
        <div class="text">
           Login Form
        </div>
        <form action="/login" method="POST">
           <div class="data">
              <label>username</label>
              <input type="text" name="username" required>
           </div>
           <div class="data">
              <label>password</label>
              <input type="password" name="password" required>
           </div>
           <div class="forgot-pass">
           <br>
           </div>
           <div class="btn">
              <div class="inner"></div>
              <button type="submit">login</button>
           </div>
           <div class="signup-link">
              Not a member? <a href="register">Signup now</a>
           </div>
        </form>
     </div>
   </body>
</html>