<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Groupie's Pizza</title>

	<!---======css=====-->
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">

	<!--===box icons link--==-->
	<link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

  <!--===google fonts link--==-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>

	<!--===header--==-->
	<header>
		<a href="/" class="logo">
			<img src="/static/img/logo.png">
		</a>

		<ul class="navbar">
			<li><a href="/">Home</a></li>
			<li><a href="about">History of Groupie's Pizza</a></li>
			<li><a href="menu"class="active">Menu</a></li>
		</ul>

		<div class="header-icons">
		<!--<a href="#"><i class='bx bx-search'></i></a>-->	
		<!--<a href="#"><i class='bx bxs-bell' ></i></a>-->	
			<a href="shoppingcart"><i class='bx bxs-cart' ></i></a>
			<div class="bx bx-menu" id="menu-icon"></div>

			<!----darkmode-->
			<div class="bx bx-moon" id="darkmode"></div>
		</div>
	</header>

       
	<!--===menu--==-->
	<section class="menu" id="menu">
		<div class="center-text" style="margin-top: 200px;">
			<strong>Our Menu</strong>
			<h2>Pizza at its finest</h2>
		</div>

		<div class="menu-content">
			<div class="row">
				<div class="row-img">
					<img src="/static/img/m1.png">
				</div>
				<h5>Pepperoni Cheesy<br> Bread Sticks</h5>
				<h6>$12.99</h6>
				
			</div>

			<div class="row">
				<div class="row-img">
					<img src="/static/img/m2.png">
				</div>
				<h5>Groupie's Style<br>Supreme Pizza</h5>
				<h6>$12.99</h6>
				
			</div>

			<div class="row">
				<div class="row-img">
					<img src="/static/img/m3.png">
				</div>
				<h5>Meat Lovers<br>Pazone</h5>
				<h6>$10.99</h6>
				
			</div>

			<div class="row">
				<div class="row-img">
					<img src="/static/img/m4.png">
				</div>
				<h5>Groupie's Signature<br>Buffalo Wings</h5>
				<h6>$9.99</h6>
				
			</div>
			<div class="row">
				<div class="row-img">
					<img src="/static/img/m4.png">
				</div>
				<h5>Groupie's Signature<br>Buffalo Wings</h5>
				<h6>$9.99</h6>
				
			</div>
			<div class="row">
				<div class="row-img">
					<img src="/static/img/m4.png">
				</div>
				<h5>Groupie's Signature<br>Buffalo Wings</h5>
				<h6>$9.99</h6>
				
			</div>
			<div class="row">
				<div class="row-img">
					<img src="/static/img/m4.png">
				</div>
				<h5>Groupie's Signature<br>Buffalo Wings</h5>
				<h6>$9.99</h6>
				
			</div>
			<div class="row">
				<div class="row-img">
					<img src="/static/img/m4.png">
				</div>
				<h5>Groupie's Signature<br>Buffalo Wings</h5>
				<h6>$9.99</h6>
				
			</div>
			<div class="row">
				<div class="row-img">
					<img src="/static/img/m4.png">
				</div>
				<h5>Groupie's Signature<br>Buffalo Wings</h5>
				<h6>$9.99</h6>
				
			</div>
			<div class="row">
				<div class="row-img">
					<img src="/static/img/m4.png">
				</div>
				<h5>Groupie's Signature<br>Buffalo Wings</h5>
				<h6>$9.99</h6>
			
			</div>
			<div class="row">
				<div class="row-img">
					<img src="/static/img/m4.png">
				</div>
				<h5>Groupie's Signature<br>Buffalo Wings</h5>
				<h6>$9.99</h6>
				
			</div>
			<div class="row">
				<div class="row-img">
					<img src="/static/img/m4.png">
				</div>
				<h5>Groupie's Signature<br>Buffalo Wings</h5>
				<h6>$9.99</h6>
				
			</div>
			<div class="row">
				<div class="row-img">
					<img src="/static/img/m4.png">
				</div>
				<h5>Groupie's Signature<br>Buffalo Wings</h5>
				<h6>$9.99</h6>
				
			</div>
			<div class="row">
				<div class="row-img">
					<img src="/static/img/m4.png">
				</div>
				<h5>Groupie's Signature<br>Buffalo Wings</h5>
				<h6>$9.99</h6>
				
			</div>
			<div class="row">
				<div class="row-img">
					<img src="/static/img/m4.png">
				</div>
				<h5>Groupie's Signature<br>Buffalo Wings</h5>
				<h6>$9.99</h6>
				
			</div>
			
		</div>

	</section>

    <!--===contact--==-->
	<section class="contact" id="contact">
		<div class="contact-box" style="margin-top: 15px;">
			<a href="index.html" class="logo">
				<img src="/static/img/logo.png">
			</a>

			<div class="icons">
				<a href="#"><i class='bx bxl-facebook' ></i></a>
				<a href="#"><i class='bx bxl-instagram-alt' ></i></a>
				<a href="#"><i class='bx bxl-twitter' ></i></a>
				<a href="#"><i class='bx bxl-youtube' ></i></a>
			</div>
		</div>

		<div class="contact-box" style="margin-top: 25px; margin-left: 100px;">
			<p>
				<h2 style="font-weight: 600; font-size: .9em;">Address:</h2>
				123456 Parkway <br> 
				New York, New York 84635<br>
				<br>
				<h2 style="font-weight: 600; font-size: .9em;">Phone Number:</h2>
				586-256-2415
			</p>

		</div>

	
		<div class="contact-box" style="margin-left: 625px; margin-top: 15px; ">
			<h3>Links</h3>
			<li><a href="/">Home</a></li>
            <li><a href="menu">Menu</a></li>
            <li><a href="about">History of Groupie's Pizza</a></li>
          
		</div>
	</section>

    <!--===copyright--==-->
    <div class="copyright">
	    <p>Copyright Group 4 CS 492 Colorado Technical University 2023</p>
    </div>


	<!--===js file link--==-->
	<script src="/static/js/script.js"></script>

</body>
</html>