<!DOCTYPE html>




<head>
	<meta charset="utf-8">
	<title>Groupie's Pizza Registration Form</title>
	<link rel="stylesheet" href="/static/css/register.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
 </head>
   
    <body>

		<a href='/' class="logo-top" >
			<img src="/static/img/logo.png">
		</a> 

		<div class="container">

        	<div class="text">
          		Registration Form
        	</div>
			
        	<form action="Register" method="POST">
				
				<div class="data">
					<label>username</label>
					<input type="text" required>
			 	</div>

			 	<div class="data">
					<label>password</label>
					<input type="password" required>
			 	</div>

				<div class="data">
				 	<label>confirm password</label>
				  	<input type="password" required>
			    </div>
			
			 	<div class="btn">
					<div class="inner"></div>
					<button type="submit">Register</button>
			 	</div>

			 	<div class="signup-link">
					Already a member? <a href="login">Login now</a>
				</div>
		
        	</form>
    	</div>

    
    </body>
	
</html>

