<!DOCTYPE html>


<!-- Box icons link -->
<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

<!-- Google fonts link -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

<div class="container">
    <label for="show" class="close-btn fas fa-times" title="close"></label>
    <div class="text">
        Registration Form
    </div>
    <form action="register" method="POST">
        <div class="data">
            <label>username</label>
            <input type="text" name="username" required>
        </div>
        <div class="data">
            <label>password</label>
            <input type="password" name="password" required>
        </div>
        <div class="data">
            <label>confirm password</label>
            <input type="password" name="confirmPass" required>
        </div>
    
        <div class="btn">
            <div class="inner"></div>
            <button type="submit">Register</button>
        </div>
        <div class="signup-link">
            Already a member? <a href="login">Login now</a>
        </div>
    </form>
</div>

