<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="csrf-token" content="{{ csrf_token() }}">

    	<title>Groupie's Pizza Shopping Cart</title>
    	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="/static/css/shoppingcart.css" rel="stylesheet">
		<!--===box icons link--==-->
		<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
		<!--===google fonts link--==-->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
	</head>

	<body>
		<!--===header--==-->
		<header>
			<a href="/" class="logo" style="margin-right: auto;">
				<img src="/static/img/logo.png">
			</a>

			<div class="greet-user" style="margin-top: -30px; margin-left: -175px;">
				<div>
					<h4>Welcome</h4> <h4 style="font-weight: 200; display: inline-block;">{{ username }}</h4> 
				</div>
			</div>
			
			<ul class="navbar">
				<li><a href="/" class="active">Home</a></li>
				<li><a href="about">History of Groupie's Pizza</a></li>
				<li><a href="menu">Menu</a></li>
			</ul>
			
			<div class="header-icons" style="margin-left: auto; justify-content: right;">

				<div>
					
					<a href="{{ url_for('logout') }}">
		
						<button style="padding-left: 10px; padding-right: 10px; justify-content: left;">Logout</button>
		
					</a>
		
				</div>
		
				<a href="shoppingcart"><i class='bx bxs-cart' ></i></a>
				
	
				<!----darkmode-->
				<div class="bx bx-moon" id="darkmode"></div>
			</div>
			

			
		</header>
		<!--===shoppingcart--==-->
    	<div class="wrapper" style="margin-top: 250px;">
			<h1>Shopping Cart</h1>
			<div class="project">
				<div class="shop">
					
					{% for item in items %}
					<div class="cart-box">
						<img src="{{ url_for('image', filename=item['image']) }}" alt="Item image">
						<div class="content">
							<h3>{{ item["name"] }}</h3>
							<h4>Price: ${{ item["price"] }}</h4>
							<form method="POST" action="{{ url_for('shoppingcart') }}">
								<p class="unit">Quantity: <input name="quantity" value="1"></p>
								<input type="hidden" name="action" value="remove">
								<input type="hidden" name="item_id" value="{{ item['_id'] }}">
								<p class="btn-area">
									<i aria-hidden="true" class="fa fa-trash"></i>
									<button type="submit" class="btn2">Remove</button>
								</p>
							</form>
						</div>
					</div>
					{% endfor %}
					
				</div>
				<div class="right-bar">
					<p><span>Subtotal</span> <span>$120</span></p>
					<hr>
					<p><span>Tax (5%)</span> <span>$6</span></p>
					<hr>
					<p><span>Shipping</span> <span>$15</span></p>
					<hr>
					<p><span>Total</span> <span>$141</span></p><a href="#"><i class="fa fa-shopping-cart"></i>Checkout</a>
				</div>
			</div>
		</div>
		<!--===js file link--==-->
		<script src="/static/js/script.js"></script>
	</body>
</html>